<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                City: {{title}}

            </h1>
            <h1 class="title">
                Country: {{country}}
            </h1>
            <h2 class="subtitle">
                You visited {{title}}, {{country}} on {{date}}
            </h2>
        </div>
    </div>
</section>