<div class="jumbotron">
    <div class="container">
        <h1>City: {{title}}</h1>
        <h1>Country: {{country}} </h1>

        <p>You visited {{title}}, {{country}} on {{date}}</p>

    </div>
</div>